# Copier en .env.django et remplir avant `docker compose -f docker-compose.django.yml up -d --build`
SECRET_KEY=change-moi
DEBUG=0
ALLOWED_HOSTS=*
POSTGRES_DB=agterp
POSTGRES_USER=agterp
POSTGRES_PASSWORD=change-moi
SUPERADMIN_EMAIL=superadmin@ag-technologies.tech
SUPERADMIN_PASSWORD=change-moi-aussi
